.blog {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.blog h1 {
    font-size: 30px;
    background-color: lightyellow;
    padding: 10px;
}

.blog p {
    font-size: 18px;
    padding: 5px;
}
