
.blog {
    font-family: Arial, sans-serif;
    padding: 20px;
}


.blog h1 {
    font-size: 28px;
    padding: 10px;
    background-color: lightgray;
}

.blog p {
    font-size: 18px;
    padding: 5px;
}

.note {
    background-color: lightblue;
    padding: 15px;
}
